.Intro {
    width: 100%;
    text-align: center;
}

.Intro img{
    height: 200px;
    margin-top: 100px;
}

.Introsubtext {
    font-size: 1.6em;
    margin: 30px 10%;
}

.Introline {
    background: black;
    width: 90%;
    height: 1px;
    display: inline-block;
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .Introsubtext {
        margin: 30px 5%;
    }
}