.Features {
    text-align: center;
    width: 100%;
}

.Featuressubtext {
    display: inline;
    font-size: 1.6em;
    color: black;
}

.Featuresul {
    list-style-type: none;
    width: 768px;
    display: inline-block;
    margin-bottom: 30px;
}

.Featuresli {
    margin: 8px;
    padding-bottom: 8px;
    border: 1px solid black;
}

.Featuresli:hover {
    box-shadow: 0px 0px 1px 1px black;
}

.Featureslidiv {
    background-color: black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
}

.Featuresline {
    background: black;
    width: 90%;
    height: 1px;
    display: inline-block;
    margin-top: 90px;
}

@media only screen and (max-width: 768px){
    .Featuresul {
        width: 90%;
    }
}